
# Compiled binaries
bin/

# Dependency directories
node_modules/

docs/.vitepress/cache/
__pycache__

# build / generate output
/target
dist/
build/
out/
coverage/

# dotenv environment variable files
.env
.env.*
!.env.example

# Logs
logs
*.log

# others
memo.md
mcp-server/internal/handler/tools/patterns.json
COMPETITIVE-ANALYSIS.md
/.specs/**
!/.specs/index.json
!/.specs/*/
!/.specs/**/summary.md
!/.specs/**/state.json
