
# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.*
!.env.example

# Logs
logs
*.log

# others
memo.md
COMPETITIVE-ANALYSIS.md
/.specs/**
!/.specs/index.json
!/.specs/*/
!/.specs/**/summary.md
!/.specs/**/state.json
